html,
body,
#app{
background-image: url("@/assets/images/background01.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;
/* max-width: 100vh; */
min-height: 100vh;   
}